

*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}



div{
    margin-left: 25px;
}

button{
    margin-left: 80px;
    height: 35px;
    width: 105px;
    border-radius: 4px;
}