

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

h1{
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

div{
    display: block;
    margin-left: 5%;
    margin-top: 16px;
}

button{
    margin-left: 5%;
    height: 35px;
    width: 105px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace, serif;
}

button:hover{
    background: linear-gradient(rgb(166, 201, 236), rgb(184, 169, 247));
}
a:hover{
    color: aliceblue;
}
